config vpn-watchdog 'global'
	option enabled '1'
	option log_level 'info'
	option status_addr '127.0.0.1:8765'
	option probe_interval_healthy '30'
	option probe_interval_degraded '10'
	option degraded_threshold '3'
	option probing_threshold '3'
	option switch_verify_timeout '60'
	option post_switch_cooldown '90'
	option max_switch_attempts '3'
	option config_dir '/etc/vpn-watchdog/configs'
	option sing_box_bin '/usr/bin/sing-box'
	option dpi_auto_tune '1'
	option dpi_max_variants '8'

config probe_target
	option host '1.1.1.1'
	option type 'icmp'

config probe_target
	option host 'api.telegram.org'
	option port '443'
	option type 'https'

config probe_target
	option host 'connectivitycheck.gstatic.com'
	option port '80'
	option type 'http'
